.idea/
data/*
data/glove/
resources/
saved_checkpoints/
results/
__pycache__/
relation_prediction/*cache*/*
end_to_end/rel-results
end_to_end/ent-results
end_to_end/augmented-fb-subsets
end_to_end/*.pkl
indexes/*.pkl
