.idea/
data/*
data/glove/
resources/
saved_checkpoints/
trained_model/
__pycache__/
*log*
entity_detection/*cache*/*
entity_detection/data
relation_prediction/*cache*/*
end_to_end/rel-results
end_to_end/ent-results
end_to_end/augmented-fb-subsets
end_to_end/*.pkl
indexes/*.pkl
